{% load mezzanine_tags static %}
{% if items %}
    <div class="portfolio-wrap clearfix">
        {% for item in items %}
            <div class="portfolio {% if item.highlighted %} big {% else %} normal {% endif %} onscroll">
                <a rel="modal:open" href="{% url "page" item.slug %}">
                    <div class="trame"></div>
                    <div class="border-left"></div>
                    {% if item.highlighted %}
                        <img src="{{MEDIA_URL}}{% thumbnail item.featured_image 640 320 top=0 %}" alt="">
                    {% else %}
                        <img src="{{MEDIA_URL}}{% thumbnail item.featured_image 320 320 top=0 %}" alt="">
                    {% endif %}
                    <div class="infos">
                        <h4>{{ item.title }}</h4>
                        <div class="tags">
                            {% for c in item.categories.all %}
                                <span class="tag">{{c.title}}</span>
                            {% endfor %}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
	</div>
	<div class="pagination">
		<span class="step-links">
			{% if page_obj.has_previous %}
				<a class="prev-link" data-pageno="{{ page_obj.previous_page_number }}"><i class="fa fa-arrow-circle-o-left"></i></a>
			{% endif %}

			<span class="current">
				{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			</span>

			{% if page_obj.has_next %}
				<a class="next-link" data-pageno="{{ page_obj.next_page_number }}"><i class="fa fa-arrow-circle-o-right"></i></a>
			{% endif %}
		</span>
	</div>
{% else %}
    <p>No items found!!! :(</p>
{% endif %}
