{% extends "pages/page.html" %}
{% load i18n static mezzanine_tags %}

{% block extra_css %}
{{ block.super }}
    <style type="text/css">
        .footer {
			{% if page.homepage.footer_img %}
				background: transparent url("{{MEDIA_URL}}{{page.homepage.footer_img}}") no-repeat scroll center center / cover;
			{% else %}
				background: transparent url("{{STATIC_URL}}css/img/bg-contact.jpg") no-repeat scroll center center / cover;
			{% endif %}
        }
		.header .header-bg-global-wrapper .bg-global {
			{% if page.homepage.bg_global_img %}
				background: transparent url("{{ MEDIA_URL}}{{page.homepage.bg_global_img}}") no-repeat scroll center 60% / cover;
			{% else %}
				background: transparent url("{{STATIC_URL}}css/img/bg-main.jpg") no-repeat scroll center 60% / cover;
			{% endif %}
		}
		.bg-global{
			{% if page.homepage.bg_global_img %}
				background: transparent url("{{ MEDIA_URL}}{{page.homepage.bg_global_img}}") no-repeat scroll  bottom center / cover;
			{% else %}
				background: transparent url("{{STATIC_URL}}css/img/bg-main.jpg") no-repeat scroll bottom center / cover;
			{% endif %}
		}
		.modal{
			{% if page.homepage.modal_img %}
				background: transparent url("{{MEDIA_URL}}{{page.homepage.modal_img}}") repeat scroll 0px 0px !important;
			{% else %}
				background: transparent url("{{STATIC_URL}}css/img/bg-paper.jpg") repeat scroll 0px 0px !important;
			{% endif %}
		}
		#portfolio {
			{% if page.homepage.portfolio_img %}
				background: transparent url("{{MEDIA_URL}}{{page.homepage.portfolio_img}}") repeat scroll 0px 0px;
			{% else %}	
				background: transparent url("{{STATIC_URL}}css/img/bg-paper.jpg") repeat scroll 0px 0px;
			{% endif %}
		}
	</style>
{% endblock %}

{% block extra_js %}
{{ block.super }}
	<script type="text/javascript">
	$(document).on('click', '.pagination a', function(){
		$.ajax({ // create an AJAX call...
			// Show or hide loader before/after each request
			beforeSend:function(){
					$(".ajax-loader").show();
                    $(".portfolio-and-page").hide();
                    $.scrollTo('#portfolio');
			},
			complete:function(){
					$(".ajax-loader").hide();
                    $(".portfolio-and-page").show();
			},
			type: 'GET',
			url: "{% url 'portpage' %}?page=" + $(this).attr('data-pageno'), 
			error: function (jqXHR, textStatus, errorThrown) {
				alert(textStatus+' : '+errorThrown);
			},
			success: function(response) { // on AJAX success..
                $('.portfolio-and-page').html(response['section_html']);
                $.scrollTo('#portfolio');
		   }
	   });
	});
	</script>

    {% if settings.GMAP_APIKEY and page.homepage.places.count > 0 %}
    <!-- The google map -->
        {% include 'includes/gmap_scripts.html' %}
    {% endif %}
{% endblock %}

{% block inner_content %} 
<div id="main" role="main">
	<div id="home" class="content-wrap" style="min-height: 620px; padding-top: 150px; padding-bottom: 200px;">
		<div class="content-wrap-inner">
			<div class="logo">
                {# {% editable page.homepage.logo_icon %} #}
                {% if page.homepage.logo_icon %}
                <img src="{{MEDIA_URL}}{% thumbnail page.homepage.logo_icon 200 200 top=0 %}" alt="{{ settings.SITE_TITLE}}" />
                {% else %}
                <img src="{{STATIC_URL}}css/img/logicon_logo.png" alt="{{ settings.SITE_TITLE}}" />
                {% endif %}
                {# {% endeditable %} #}
			</div>
            <h1>{% editable page.homepage.heading %} {{ page.homepage.heading|richtext_filters|safe}} {% endeditable %}</h1>
		</div><!-- content-wrap-inner -->
	</div><!-- home -->

    <div id="portfolio" class="content-wrap" style="min-height: 620px;">
        <div class="content-wrap-inner">
            {% editable page.homepage.portfolio_heading page.homepage.portfolio_subheading %}
            <h2>{{ page.homepage.portfolio_heading }}</h2>
            <h3>{{ page.homepage.portfolio_subheading }}</h3>
            {% endeditable %}
            
            <div class="sep"></div>
            <div class="ajax-loader" style="display:none">
                <img src="{% static 'css/img/ajax-loader.gif' %}" />
            </div>
            <div class="portfolio-and-page">
                {% with items as page_obj %}
                    {% include 'pages/_portfolioitems_snippet.html' %}
                {% endwith %}
            </div>
        </div><!--content-wrap-inner-->
    </div><!-- portfolio -->


    {# Note we chose related name as 'blurbs' in theme.models when spec ForeignKey #}
    {% if page.homepage.blurbs.all %}
    <div id="services" class="content-wrap" style="min-height: 511px;" >
        <div class="content-wrap-inner">
            {% editable page.homepage.services_heading page.homepage.services_subheading %}
            <h2>{{ page.homepage.services_heading }}</h2>
            <h3>{{ page.homepage.services_subheading }}</h3>
            {% endeditable %}

            <div class="sep"></div>

            <div class="clearfix" id="slider-skills">
                <div class="skills-wrapper slides-wrapper">
                    {% for blurb in page.homepage.blurbs.all %}
                    <div class="skill-item slide-item">
                        <div class="icon-wrapper">
                            {% if blurb.fa_icon != 'none'%}
                            <i class="home-icon fa fa-5x {{ blurb.fa_icon }}"></i>
                            {% elif blurb.icon %}
                                <img style="margin-bottom:10px;" src="{{ MEDIA_URL }}{% thumbnail blurb.icon.url 70 0 %}" alt=""  />
                            {% endif %}
                        </div>
                        <div class="infos">
                            <div class="inner">
                                {% editable blurb.title blurb.content %}
                                <h4>{{ blurb.title }}</h4>
                                <p>{{ blurb.content }}</p>
                                {% endeditable %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div><!--slides-wrapper-->
            </div><!--slider-skills-->
        </div><!-- content-wrap-inner-->
    </div><!-- services -->	
    {% endif %}

    {% if settings.GMAP_APIKEY and page.homepage.places.count > 0 %}
    <div id="map" class="clearfix" >
            <div id="map-canvas">
            </div>
    </div>
    {% endif %}

    <footer id="contact" class="footer" role="contentinfo">
        <div class="inner-footer">
            <div class="address-wrap">
                <p>
                {% editable page.homepage.contact_text %} {{ page.homepage.contact_text|richtext_filters|safe}} {% endeditable %}
                </p>
                <div class="copyright">&copy; {% now "Y" %} {{settings.SITE_TITLE }}. All Rights Reserved.</div>                        
            </div>
        </div>
    </footer>
{% endblock %}
