{% load i18n static mezzanine_tags %}
<script type="text/javascript">
 geocoder = new google.maps.Geocoder();
 function initializeGeo(addr) {
	 // Takes an address gives a lat lng
	 // note this is an asynchronous func, meaning you can run into issues like
	 // http://stackoverflow.com/questions/9345556/waiting-for-google-maps-geocoder easily
	 // use as callback
	 // in light of that initialize of the map itself is only called when we're done geocoding the center
	 console.log('Geocoding addr:'+addr);
	 geocoder.geocode( { 'address': addr}, function(results, status) {
	   if (status == google.maps.GeocoderStatus.OK) {
		 console.log('geocoder status OK for addr:'+addr);
		 //In this case it creates a marker, but you can get the lat and lng from the location.LatLng
		 var geoAddr = results[0].geometry.location
		 console.log('geocoder returning: ('+geoAddr.lat()+', '+geoAddr.lng() + ')');
		 // Only run initialize on successfully finishing geocoding
		 if(geoAddr.lat() != undefined && geoAddr.lng() != undefined){
				initialize({ lat: geoAddr.lat(), lng: geoAddr.lng()});
			}else{
				console.log('Undefined result from geocoding addr, use default');
				initialize({ lat: 3.138832, lng: 101.681191});  // KL
		 }
	   } else {
		 console.log("Geocode was not successful for the following reason: " + status);
		 return {}
	   }
	 });
   }

  function initialize(latlng) {
	console.log('Centering map at:', latlng);
	var mapOptions = {
					 scrollwheel: false,
                     draggable: false,
					 center: latlng,
					 zoom: {{ settings.GMAP_ZOOM|default:4 }},
                     // settings.GMAP_DISABLE_UI: {{ settings.GMAP_DISABLE_UI }}
					 {% if settings.GMAP_DISABLE_UI %}
					 disableDefaultUI: true, //no zoom, pan etc 
					 {% endif %}
	};
	var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

	// add markers with complex icons
	setMarkers(map, markers);

  }

  google.maps.event.addDomListener(window, 'load', initializeGeo("{{ settings.GMAP_LOC|default:'Bangkok, Thailand' }}"));

  /*
   * Data for the markers consisting of a name, a LatLng and a zIndex for
   * the order in which these markers should display on top of each
   * other. This should be taken from the admin settings for the homepage model,
   * Need a map section that allows place objects (title, location, z-index) to be added.
   * Even better if we can use the geocoding API, to code them to lat, lng if needed.
   */
  var markers = [];
  {% for sp in page.homepage.places.all %} 
	// consider geocoding so more user friendly
	// geocoder = new google.maps.Geocoder();
	markers.push(["{{ sp.title }}", {{ sp.lat }}, {{ sp.lng }}, {{ sp.zind }}, "{{ sp.msg }}"]);
  {% endfor %}


  function listenMarker (map, marker, msg)
  {
   // so marker is associated with the closure created for the listenMarker function call
   // (if you just did the addListener in the for loop you get only the last in list, see
   // http://stackoverflow.com/questions/2357323/trying-to-bind-multiple-infowindows-to-multiple-markers-on-a-google-map-and-failing
   var cont = msg.replace(/%LOC_PLACEHOLDER%/g, marker.title);
   var infowindow = new google.maps.InfoWindow({
		content: cont
   });
   google.maps.event.addListener(marker, 'click', function() {
					 console.log('You clicked on:'+marker.title);
					 infowindow.open(map, marker);
					 });
  } 

  function setMarkers(map, locations) {
	// Add markers to the map
  
	// Marker sizes are expressed as a Size of X,Y
	// where the origin of the image (0,0) is located
	// in the top left of the image.
  
	// Origins, anchor positions and coordinates of the marker
	// increase in the X direction to the right and in
	// the Y direction down.
	var image = {
	  {% if page.homepage.map_icon %}
	  url: '{{MEDIA_URL}}{% thumbnail page.homepage.map_icon settings.GMAP_ICON_SIZE|default:16 settings.GMAP_ICON_SIZE|default:16 top=0 %}',
	  {% else %}
	  url: '{{ STATIC_URL }}{% thumbnail "css/img/logicon_logo.png" settings.GMAP_ICON_SIZE|default:16 settings.GMAP_ICON_SIZE|default:16 top=0 %}',
	  {% endif %}
	  size: new google.maps.Size({{settings.GMAP_ICON_SIZE|default:16}}, {{settings.GMAP_ICON_SIZE|default:16}}),
	  // The origin for this image is 0,0.
	  origin: new google.maps.Point(0,0),
	  // The anchor for this image is at centre of img
	  anchor: new google.maps.Point(8, 8)
	};
	for (var i = 0; i < locations.length; i++) {
	  var marker = locations[i];
	  var myLatLng = new google.maps.LatLng(marker[1], marker[2]);
	  var gmarker = new google.maps.Marker({
		  position: myLatLng,
		  map: map,
		  icon: image,
		  title: marker[0],
		  zIndex: marker[3]
	  });

	// Display the custom message
	listenMarker(map, gmarker, marker[4]);
	}
  }

</script>
